*, *::before, *::after{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 0px;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #D3D3D3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    height: 75px;
    width: 100vw;
    justify-content: center;
    align-items: flex-end;
    font-weight: 700;
    font-size: 2rem;
    /*background-color: #2F2D2E;
    box-shadow: 0 0 10px #2F2D2E;*/
    color: #1c1c1c;
}

.footer{
    display: flex;
    height: 50px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    box-shadow: 0 0 10px #1c1c1c;
    font-size: 1rem;
    font-weight: 700;
    color: #D3D3D3;
}

.container{
    height: 600px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-body{
    display: grid;
    min-height: 500px;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: minmax(100px, auto)repeat(5, 75px);
    border: 5px solid #2F2D2E;
    border-radius: 5px;
    box-shadow: 0 0 7px black;
}

#twice{
    grid-column: span 2;
}

.screen{
    grid-column: 1/-1;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}

.calculator-body > button{
    border: 1.5px solid #2F2D2E;
    outline: none;
    font-size: 2rem;
    cursor: pointer;
}

.operator{
    background-color: #FF9500;
    color: rgba(255, 255, 255, 0.85);
}
.grey{
    background-color: #D4D4D2;
}

.screen .current{
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.85);
}

.screen .previous{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.70);
}